pipeline/pl_ecdc_data_ingestion.json
{
	"name": "pl_ecdc_data_ingestion",
	"properties": {
		"activities": [
			{
				"name": "Lookup config url",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_url_list_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get data from each site",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup config url",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup config url').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "relativeUrl",
								"value": {
									"value": "@item().relativeUrl",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sinkFileName",
								"value": {
									"value": "@item().sinkFileName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable3",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_http_data_csv",
									"type": "DatasetReference",
									"parameters": {
										"relativeUrl": {
											"value": "@variables('relativeUrl')",
											"type": "Expression"
										},
										"baseUrl": {
											"value": "@variables('baseUrl')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_data_csv",
									"type": "DatasetReference",
									"parameters": {
										"sinkFileName": {
											"value": "@variables('sinkFileName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "baseUrl",
								"value": {
									"value": "@item().baseUrl",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"relativeUrl": {
				"type": "String"
			},
			"sinkFileName": {
				"type": "String"
			},
			"baseUrl": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-29T03:03:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}